name: Rubocop

on: pull_request

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 2.7
        uses: ruby/setup-ruby@v1.68.0
        with:
          ruby-version: 2.7.3
          bundler-cache: true
      - name: rubocop
        uses: reviewdog/action-rubocop@v1
        with:
          rubocop_version: 0.93.0
          github_token: ${{ secrets.GITHUB_TOKEN }}
          rubocop_flags: --config backend/.rubocop.yml backend/
          rubocop_extensions: meowcop
          reporter: github-pr-check