name: Rubocop

on: pull_request

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Ruby 2.7
        uses: ruby/setup-ruby@v1.68.0
        with:
          ruby-version: 2.7.3
          bundler-cache: true
      - name: bundle install
        run: |
          gem install bundler
          bundle install
      - name: Setup reviewdog
        run: |
          mkdir -p $HOME/bin && curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh | sh -s -- -b $HOME/bin
          echo ::add-path::$HOME/bin
      - name: Run rubocop with reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec rubocop | reviewdog -reporter=github-pr-review -f=rubocop